@using ThrowdownAttire.App_Start;
@using ThrowdownAttire.ViewModels;
@model ShirtCreateViewViewModel
@{ 
    ViewBag.Title = "Admin";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="addpage">
    <div class="row">
        <div class="col-lg-offset-3 col-lg-6">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active"><a href="#create" aria-controls="create" role="tab" data-toggle="tab">Create</a></li>
                <li role="presentation"><a href="#select" aria-controls="select" role="tab" data-toggle="tab">Select</a></li>
            </ul>


            <!-- Tab panes -->
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="create">
                    @if (ViewBag.Success != null)
                    {
                        <div class="alert alert-success" role="alert">
                            @ViewBag.Success
                        </div>
                    }
                    @if (ViewBag.Failure != null)
                    {
                        <div class="alert alert-danger" role="alert">
                            @ViewBag.Failure
                        </div>
                    }
                    <h2>Add a Shirt</h2>
                    <form id="createform" action="../../Admin/Create" method="post" enctype="multipart/form-data">
                        <div class="form-group">
                            <label for="title">Title</label>
                            <input type="text" name="title" class="form-control" id="title" placeholder="Title">
                        </div>
                        <div class="form-group series-container">
                            <label style="display:block" for="series">Series</label>
                            <div class="btn-group" data-toggle="buttons">
                                @foreach (var type in Globals.Types.Keys)
                                {
                                    if (type == Globals.Types.Keys.First())
                                    {
                                        <label class="btn btn-default active">
                                            <input type="radio" name="series" value="@type" autocomplete="off" checked />@type
                                        </label>
                                    }
                                    else
                                    {
                                        <label class="btn btn-default">
                                            <input type="radio" name="series" value="@type" autocomplete="off" />@type
                                        </label>
                                    }
                                }
                            </div>
                            <a href="#" id="add-series" class="inline"><span class="glyphicon glyphicon-plus-sign"></span></a>
                        </div>
                        <div class="newseries-container form-group">
                            <label for="title">New Series</label>
                            <input type="text" name="newseries" class="form-control" id="newseries" placeholder="Series">
                        </div>
                        <div class="form-group newseries-container">
                            <label for="sliderimage">Upload Slider Image</label>
                            <input type="file" name="sliderimage" id="silderimage">
                        </div>
                        <div class="form-group">
                            <label for="price">Price</label>
                            <div class="input-group">
                                <span class="input-group-addon" id="price-addon">$</span>
                                <input type="text" class="form-control" name="price" aria-describedby="price-addon" id="price" value="29.99">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="description">Description</label>
                            <textarea class="form-control" id="description" name="description" rows="3" placeholder="Description"></textarea>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" value="true" name="display" id="display" checked>
                                <strong>Display</strong>
                            </label>
                        </div>
                        <div class="form-group">
                            <label for="pictures">Upload Pictures</label>
                            <input type="file" name="images" id="pictures" multiple>
                        </div>
                        <button type="submit" class="btn btn-default">Submit</button>
                    </form>
                </div>


                <div role="tabpanel" class="tab-pane" id="select">
                    <h2>Select a Shirt</h2>
                    <div class="table-responsive">
                        <table id="admin-table" class="table table-bordered tablesorter">
                            <thead>
                                <tr>
                                    <th><span class="glyphicon glyphicon-chevron-up"></span>Title</th>
                                    <th><span class="glyphicon glyphicon-chevron-up"></span>Type</th>
                                    <th><span class="glyphicon glyphicon-chevron-up"></span>Price</th>
                                    <th><span class="glyphicon glyphicon-chevron-up"></span>Stock</th>
                                    <th><span class="glyphicon glyphicon-chevron-up"></span>Images</th>
                                    <th><span class="glyphicon glyphicon-chevron-up"></span>Display</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var shirt in Model.shirts)
                                {
                                    <tr>
                                        <td><a href="~/Admin/Edit/@shirt.Id">@shirt.Title</a></td>
                                        <td><a href="~/Admin/Edit/@shirt.Id">@shirt.Type</a></td>
                                        <td><a href="~/Admin/Edit/@shirt.Id">@shirt.Price</a></td>
                                        <td><a href="~/Admin/Edit/@shirt.Id">@shirt.Stock</a></td>
                                        <td>
                                            @foreach (var pic in shirt.Photos)
                                            {
                                                <a href="@pic"><img class="thumbnail" src="@pic" /></a>
                                            }
                                        </td>
                                        <td><input data-id="@shirt.Id" type="checkbox" class="display-check" value="@shirt.Display.ToString()" @if(shirt.Display){<text>checked</text>}/></td>

                                        <td><a href="#" data-id="@shirt.Id" class="delete"><span class="glyphicon glyphicon-trash" style="color:red"></span></a></td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@Scripts.Render("~/bundles/admin")