<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/bootstrap")
    <script type="text/javascript" src="https://cdn.snipcart.com/scripts/snipcart.js" id="snipcart"
            data-api-key="N2M3NzI2ZDEtYTJhNi00ZWZhLWJhODktZTE5OWMxNTMzZjRj"></script>
    <link type="text/css" href="https://cdn.snipcart.com/themes/base/snipcart.min.css" rel="stylesheet" />
</head>
<body>
    <nav id="navbar" class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#throwdown-collapse" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" id="title" href="/">Throw Down Attire</a>
            </div>
            <div class="navbar-collapse collapse" id="throwdown-collapse">
                <ul class="nav navbar-nav">
                    <li class="series" value="all"><a href="~/series">All</a></li>
                    <li class="series" value="drugs"><a href="~/series">Drugs</a></li>
                    <li class="series" value="quote"><a href="~/series">Quote</a></li>
                    <li class="series" value="lifestyle"><a href="~/series">Lifestyle</a></li>
                    <li class="series" value="fpp"><a href="~/series">Fuck Plain Packaging</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="about.html">About</a></li>
                    <li><a href="about.html">FAQ</a></li>
                    <li><a href="index.html">Contact</a></li>
                </ul>
            </div>
        </div>
    </nav>
    @RenderBody();
    <div data-checkout_button_text="Checkout" data-cart_button_text="Cart" data-button_text_color="ffffff" data-button_background_color="5c6962" data-background_color="ffffff" data-text_color="000000" data-accent_color="767676" data-cart_title="Cart" data-discount_notice_text="Shipping and discount codes are added at checkout." data-cart_total_text="Total" data-sticky="true" data-empty_cart_text="Your cart is empty." data-embed_type="cart" data-shop="throwdown-attire.myshopify.com"></div>
    <script type="text/javascript">
document.getElementById('ShopifyEmbedScript') || document.write('<script type="text/javascript" src="https://widgets.shopifyapps.com/assets/widgets/embed/client.js" id="ShopifyEmbedScript"><\/script>');
    </script>
    @RenderSection("scripts", required: false)
</body>
</html>
