<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/bootstrap")
    <script type="text/javascript" src="https://cdn.snipcart.com/scripts/snipcart.js" id="snipcart"
            data-api-key="N2M3NzI2ZDEtYTJhNi00ZWZhLWJhODktZTE5OWMxNTMzZjRj"></script>
    <link type="text/css" href="https://cdn.snipcart.com/themes/base/snipcart.min.css" rel="stylesheet" />
</head>
<body>
    <nav id="navbar" class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#throwdown-collapse" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">
                    <h2 id="shopname">Throw Down Attire</h2>
                </a>
            </div>
            <div class="navbar-collapse collapse" id="throwdown-collapse">
                <ul class="nav navbar-nav">
                    <li class="series" value="series"><a href="~/series">Series</a></li>
                    <li class="series" value="drugs"><a href="~/drugs">Drugs</a></li>
                    <li class="series" value="quote"><a href="~/quote">Quote</a></li>
                    <li class="series" value="lifestyle"><a href="~/lifestyle">Lifestyle</a></li>
                    <li class="series" value="fpp"><a href="~/fpp">Fuck Plain Packaging</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="about.html">About</a></li>
                    <li><a href="about.html">FAQ</a></li>
                    <li><a href="~/contact">Contact</a></li>
                    <li><a href="https://www.facebook.com/throwdownattire/?fref=ts"><img src="http://themefiend.com/tf-themes/_images/social-btn/pack-6/facebook.png" /></a></li>
                    <li><a href="https://www.instagram.com/throwdownattire/"><img src="http://themefiend.com/tf-themes/_images/social-btn/pack-6/instagram.png" /></a></li>
                </ul>
            </div>
        </div>
    </nav>
    @RenderBody();
    @RenderSection("scripts", required: false)
</body>
</html>
