@model IEnumerable<ThrowdownAttire.Models.Shirt>

<div id="floats">
    @for (int i = 0; i < Model.Count(); i += 4)
            {
        <div class="row">
            @for (int j = i; j < Model.Count() && j < i + 4; j++)
            {
                <div class="col-md-3 shirtContainer">
                    <a class="modal-link" href="~/shirt/@Model.ElementAt(j).Id">
                        <div class="shirtModal modal-dialog" data-type="@Model.ElementAt(j).Type.ToString().ToLower()">
                            <div class="modal-content shirtContent">
                                <!-- dialog body -->
                                @if (@Model.ElementAt(j).Photos.Length > 0)
                                {
                                    <div class="modal-body" style="background:url(@Model.ElementAt(j).Photos.First()) no-repeat center center; background-size: 200px 200px"></div>
                                }
                                else
                                {
                                    <div class="modal-body">
                                        <img class="modal-pic" alt="@Model.ElementAt(j).Handle" src="null" />
                                    </div>
                                }
                                <!-- dialog buttons -->
                                <div class="modal-footer">
                                    <h2 class="modal-title">@Model.ElementAt(j).Title</h2>
                                    $@Model.ElementAt(j).Price.ToString("0.00")
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            }
        </div>
    }
</div>
@Scripts.Render("~/bundles/floats")
