@model Dictionary<string, string>
<div id="series">
    <div id="series-carousel" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#series-carousel" data-slide-to="0" class="active"></li>
            @for (int i = 1; i < Model.Keys.Count; i++)
            {
                             <li data-target="#series-carousel" data-slide-to="@i"></li>
            }

        </ol>
        <div class="carousel-inner" role="listbox">
                @foreach (var type in Model.Keys)
                {
                    if (type == Model.Keys.First())
                    {
                        <div class="item active" data-text="@type">
                            <a href="/Series/@type.Replace(" ", "")"><img src="@Model[type]" id="@type.ToLower()" /></a>
                        </div>
                    }
                    else
                    {
                        <div class="item" data-text="@type">
                            <a href="/Series/@type.Replace(" ", "")"><img src="@Model[type]" id="@type.ToLower()"; /></a>
                        </div>
                    }
                }
            </div>
            <a class="left carousel-control" href="#series-carousel" role="button" data-slide="prev">
                <span class="icon-prev" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#series-carousel" role="button" data-slide="next">
                <span class="icon-next" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
            <a class="img-link" href="/Series/Drugs">
                <h1 id="img-text">Drugs</h1>
                @if (!Request.Browser.IsMobileDevice)
                {
                    <p id="img-msg">Click to enter.</p>
                }
            </a>
            <h1 id="img-text">Drugs</h1>
        </div>
</div>
@Scripts.Render("~/bundles/series")