@model IEnumerable<ThrowdownAttire.Models.Shirt>

<div id="series">
    @for (int i = 0; i < Model.Count(); i += 4)
    {
        <div class="row">
            @for (int j = i; j < Model.Count() && j < i + 4; j++)
            {
                <div class="col-md-3 shirtContainer">
                    <a href="~/shirt/@Model.ElementAt(j).Id">
                        <div class="shirtModal modal-dialog" data-type="@Model.ElementAt(j).Type.ToString().ToLower()">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h2 class="modal-title">@Model.ElementAt(j).Title</h2>
                                </div>
                                <!-- dialog body -->
                                <div class="modal-body">
                                    <img class="modal-pic" src="@Model.ElementAt(j).Photos[0]" />
                                </div>
                                <!-- dialog buttons -->
                                <div class="modal-footer">
                                    @Model.ElementAt(j).Description
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            }
        </div>
    }
</div>
@Scripts.Render("~/bundles/series")