@model ThrowdownAttire.Models.Shirt

@{
    ViewBag.Title = "Shirt - " + Model.Title;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="shirt">
    <h2 id="shirt-header" class="page-header"></h2>
    <div class="row">
        <div id="info" class="col-md-offset-1 col-md-5">
            <div id="header">
                <h1 id="shirt-header" class="inline">@Model.Title - $@Model.Price.ToString("0.00")</h1>
            </div>

            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active"><a href="#details" aria-controls="details" role="tab" data-toggle="tab"><strong>Details</strong></a></li>
                <li role="presentation"><a href="#sizing" aria-controls="sizing" role="tab" data-toggle="tab"><strong>Sizing</strong></a></li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="details">
                    <div class="details-container">
                        <ul>
                            <li><p>Thin as fuck</p></li>
                            <li><p>Loose fit</p></li>
                            <li><p>Raw cut</p></li>
                            <li><p>100% cotton</p></li>
                        </ul>
                        <div id="description-text"><p><strong>Description: </strong>@Model.Description</p></div>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane" id="sizing">
                    <div class="details-container">
                        <img src="~/Content/sizing.png" id="sizing-chart" />
                        <select id="size-selector" class="form-control">
                            @foreach (var size in Model.Variants)
                            {
                                <option value="@size.Value">
                                    @size.Key
                                </option>
                            }
                        </select>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-5">
            <div id="shirt-carousel" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    @for (int i = 0; i < Model.Photos.Length; i++)
                    {
                        <li data-target="#shirt-carousel" data-slide-to="@i" @if(i == 0) {<text>class="active"</text>}></li>
                    }
                </ol>
                <div class="carousel-inner" role="listbox">
                    @for (int i = 0; i < Model.Photos.Length; i++)
                    {
                        <a href="#" class="modal-trigger" data-toggle="modal" data-target=".bs-example-modal-lg">
                            <div class="item @if(i == 0) {<text> active</text>}">
                                <img src=@Model.Photos[i] id="photo-@i" />
                            </div>
                        </a>
                    }
                </div>
                <a class="left carousel-control" href="#shirt-carousel" role="button" data-slide="prev">
                    <span class="icon-prev" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#shirt-carousel" role="button" data-slide="next">
                    <span class="icon-next" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
            <button id="buybutton" class="btn btn-lg snipcart-add-item inline"
                    data-item-image="@Model.Photos.First()"
                    data-item-id="@Model.Variants["XS"]"
                    data-item-name="@Model.Title - XS"
                    data-item-price="29.99"
                    data-item-url="@Request.Url.ToString().Replace("http://localhost:64317", "http://faccedb6.ngrok.io").Replace("Shirt/" + Model.Id, "Variant/" + Model.Variants["XS"].ToString())"
                    data-item-weight="200">
                Add to Cart
            </button>
        </div>
    </div>
</div>

<!-- Large modal -->
<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <img id="modal-pic" src="#" />
        </div>
    </div>
</div>
@Scripts.Render("~/bundles/shirt")


