@model ThrowdownAttire.Models.Shirt

@{
    ViewBag.Title = "Shirt - " + Model.Title;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="shirt">
    <div class="row">
        <div id="details" class="col-md-6">
            <div>
                <h2 id="shirt-header"class="page-header">@Model.Title</h2>
                <h2 id="price">$@Model.Price.ToString("0.00")</h2>
            </div>

            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active"><a href="#description" aria-controls="description" role="tab" data-toggle="tab">Description</a></li>
                <li role="presentation"><a href="#measurements" aria-controls="measurements" role="tab" data-toggle="tab">Measurements</a></li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="description">
                    @Model.Description
                </div>
                <div role="tabpanel" class="tab-pane" id="measurements">
                    <select id="size-selector" class="form-control">
                        @foreach (var size in Model.Sizes)
                        {
                            <option value="@size.Value">
                                @size.Key
                            </option>
                        }
                    </select>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div id="owlCarousel">
                @for (int i = 0; i < Model.Photos.Length; i++)
                {
                    <div class="item"><img src=@Model.Photos[i] id="photo-@i" width="800" height="550" /></div>
                }
            </div>
            <div id="buybutton" data-embed_type="product" data-shop="throwdown-attire.myshopify.com" data-product_name="@Model.Title" data-product_handle="@Model.Handle" data-has_image="false" data-redirect_to="cart" data-buy_button_text="Add to cart" data-buy_button_out_of_stock_text="Out of Stock" data-buy_button_product_unavailable_text="Unavailable" data-button_background_color="e9f2ed" data-button_text_color="4d4a4a" data-product_modal="false" data-display_size="regular" data-product_title_color="000000" data-next_page_button_text="Next page" data-variant_id="@Model.Sizes["XS"]"></div>
            <script type="text/javascript">
                document.getElementById('ShopifyEmbedScript') || document.write('<script type="text/javascript" src="https://widgets.shopifyapps.com/assets/widgets/embed/client.js" id="ShopifyEmbedScript"><\/script>');
            </script>
            <noscript><a id="noscript" href="https://throwdown-attire.myshopify.com/cart/11673228483:1" target="_blank">Buy Baked As Cunt</a></noscript>
        </div>
    </div>
</div>
@Scripts.Render("~/bundles/shirt")


