@model ThrowdownAttire.Models.Shirt

@{
    ViewBag.Title = "Shirt - " + Model.Title;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="shirt">
    <div class="row">
        <div id="details" class="col-md-6">
            <div>
                <h2 id="shirt-header"class="page-header">@Model.Title</h2>
                <h2 id="price">$@Model.Price.ToString("0.00")</h2>
            </div>

            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active"><a href="#description" aria-controls="description" role="tab" data-toggle="tab">Description</a></li>
                <li role="presentation"><a href="#measurements" aria-controls="measurements" role="tab" data-toggle="tab">Measurements</a></li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="description">
                    @Model.Description
                </div>
                <div role="tabpanel" class="tab-pane" id="measurements">
                    <select id="size-selector" class="form-control">
                        @foreach (var size in Model.Variants)
                        {
                            <option value="@size.Value">
                                @size.Key
                            </option>
                        }
                    </select>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div id="owlCarousel">
                @for (int i = 0; i < Model.Photos.Length; i++)
                {
                    <div class="item"><img src=@Model.Photos[i] id="photo-@i" width="800" height="550" /></div>
                }
            </div>
            <button id="buybutton"  class="btn btn-lg snipcart-add-item" 
                    data-item-image="@Model.Photos.First()" 
                    data-item-id="@Model.Variants["XS"]"
                    data-item-name="@Model.Title - XS" 
                    data-item-price="@Model.Price" 
                    data-item-url="@Request.Url"
                    data-item-weight="200">
                Add to Cart
            </button>
        </div>
    </div>
</div>
@Scripts.Render("~/bundles/shirt")


